<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='timezone.css')}}">
    <title>Timezone time display</title>
</head>
<body>
    <div class="container">
        <h1>Choose a timezone</h1>
        <div id="vapp">
            <select id="timezones" v-model="key">
                <option disabled value="">Please select one</option>
                <!--Create option for all timezones-->
                {% for tz in content %}
                    <option value={{tz}}> {{tz}}</option>
                {% endfor %}
            </select>
            <button v-on:click="clicked1">Submit</button>

            <h2>Current Time: [[ time ]] </h2>
        </div>
    </div>

    <script>
        const vueApp = new Vue({
            el: '#vapp',
            data: {
                key: "",
                time: ""
            },
            delimiters: ['[[',']]'],
            methods: {
                clicked1() {
                    axios.get('/get_time', {
                        params: {
                            tz: this.key
                        }
                    }).then(response => {this.time = response.data}) 
                }
            }
        })
    </script>
</body>
</html>